* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.fix {
  position: fixed;
}

.tc {
  text-align: center;
}

.clear-img-white-bottom-margin{
  /* vertical-align不是baseline即可 */
  vertical-align: middle; 
  /* display: block; */
  /* margin-bottom: -4px; */
}
